* {
    box-sizing: border-box;
    font-family: "Great Vibes", cursive;
}

body {
    background: linear-gradient(178deg, rgba(254, 195, 242, 0.17690826330532217) 3%, rgba(247, 149, 227, 0.4962359943977591) 15%, rgba(205, 102, 218, 1) 33%, rgba(112, 215, 189, 1) 78%, rgba(147, 204, 187, 1) 100%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #f072ca;
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    line-height: 80px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

.mode button {
    box-shadow: inset -2px -3px 0px 1px #fbafe3;
    background: linear-gradient(to bottom, #b072b6 5%, #d17ff7 100%);
    background-color: #d191da;
    border-radius: 12px;
    border: 1px solid #957ba3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    padding: 15px 24px;
    text-decoration: none;
    text-shadow: 0px 4px 0px #b55df0;
    margin-bottom: 10px;
}

.start span {
    font-size: 40px;
    /* background-color: #c28dc7; */
    background: linear-gradient(178deg, rgba(254, 195, 242, 0.17690826330532217) 3%, rgba(238, 125, 215, 0.496) 15%, rgb(233, 172, 241) 33%);
    border-radius: 5px;
    border: linear-gradient(178deg, rgba(254, 195, 242, 0.17690826330532217) 3%, rgba(238, 125, 215, 0.496) 15%, rgb(233, 172, 241) 33%);
}

.start {
    border: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    background: linear-gradient(178deg, rgba(254, 195, 242, 0.17690826330532217) 3%, rgba(247, 149, 227, 0.4962359943977591) 15%, rgb(236, 152, 247) 33%);
    background-color: #c28dc7;
}

.start:hover {
    /* border: rgb(159, 119, 235) 3px inset; */
    cursor: pointer;
    border: none;
}

table {
    margin: auto;
    height: 250px;
    width: 250px;
    table-layout: fixed;
    border: 1px solid rgb(255, 165, 240);
    margin-bottom: 110px;
}

.cell {
    background-color: rgba(211, 211, 211, 0.699);
    border: 3px outset rgba(247, 172, 243, 0.753);
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    table-layout: fixed;
}

.clicked {
    background-color: rgba(211, 211, 211, 0.699);
    border: 3px outset rgba(247, 172, 243, 0.753);
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    table-layout: fixed;
}

.cell:hover {
    border: 3px inset rgb(225, 174, 255);
}

.timer {
    letter-spacing: 1px;
    border: 3px solid #ceaceb;
    background-color: #80cdeba1;
    border-radius: 5px;
    color: #f1f1f1;
    font-weight: bold;
    width: 5%;
    padding: 8px;
    margin: auto;
    margin-left: 15px;
}

.live {
    font-size: 40px;
    margin: auto;
    margin-right: 40px;
    color: #ceaceb;
}

.samerow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}